#goBack {
    font-size: 20px;
}

.products_grid {
    margin: 50px auto;
    width: 750px;
    background: #bffd88;
    display: flex;
    flex-wrap: wrap;
}

.product_item {
    width: 30%;
    height: 650px;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5%;
    position: relative;
}

.product_item img {
    max-width: 90%;
    max-height: 550px;
}

.product_item form {
    margin: 20px;
    position: absolute;
    bottom: 20px;
}

.button_delete {
    width: 150px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 100px;
    margin: 50px auto;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
    font-weight: 700;
}

.button_delete:hover {
    background: #000;
    color: #fff;
}