

.posts, .comments {
    width: 92%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.posts .post {
    width: 18%;
    margin: 15px 1%;
    background: #a5befc;
    padding: 7px;
    box-sizing: border-box;
}

.comments .comment {
    width: 30%;
    margin: 15px 1.5%;
    background: #ffaeae;
    padding: 7px;
    box-sizing: border-box;
}